{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        {{ render(controller(
            'App\\Controller\\HomeController::searchBar'
        )) }}
    </div>
{% endblock %}